NEO4J_URI=neo4j+s://<instance-id>.databases.neo4j.io
NEO4J_USERNAME=<username>
NEO4J_PASSWORD=<password>
NEO4J_DATABASE=<database-name>
AURA_INSTANCEID=<instance-id>
AURA_INSTANCENAME=<instance-name>
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=true
PORT=4000
